@charset "UTF-8";
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.weg{
  position: absolute;
  height: 500px;
  width: 889px;
  background: url("hintengrund.jpg");
  background-size: cover;
  animation-name: weg_hinter;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}
.auto{
  width: 420px;
  height: 150px;
  background: url("auto.png");
  position: absolute;
  top: 245px;
  left: 80px;
}
.rad{
  position: absolute;
  height: 64px;
  width: 64px;
  top: 84px;
  background: url("rad.png");
  animation-name: return;
  animation-direction: normal;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.rad:nth-child(1){left:42px;}
.rad:nth-child(2){left:310px;}

@keyframes return {
  from{}
  to{ transform: rotate(360deg);}
}
@keyframes weg_hinter {
   from{}
   to{ background-position: 889px 0;}
}
